<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('common/head'); %>
  </head>
  <body>
    <main>
      <p>Logo</p>

      <p>Autenticação</p>

      <form id="login-form">
        <div>
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            placeholder="Digite o email"
            autocomplete="email"
          />
        </div>

        <div>
          <label for="password">Senha</label>
          <input
            type="password"
            id="password"
            placeholder="Digite a senha"
            autocomplete="current-password"
          />
        </div>

        <button type="button" onclick="{auth()}">Entrar</button>

        <div>Esqueceu a senha? <span>Clique aqui.</span></div>
      </form>
    </main>
  </body>
</html>
