<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('common/head'); %>
</head>

<body>
  <%- include('common/sidebar'); %>

    <main>
      <div>
        <h1>Ingressos</h1>
        <% if (user.profile_id==3) { %>
          <p>Seja bem vindo(a), <%= user.name.split(" ")[0] %>!</p>
        <% } %>
      </div>
    </main>
</body>

</html>